<div class="main-page">
    <div class="container">
        <h1 class="main-page-title">Создание категории доходов</h1>
        <form class="main-page-items">
            <input class="main-page-items-input" type="text" placeholder="Название..." id="incomeCreateInput" required>
            <div class="error-message" id="error-message">
                <p class="error-message-text">- Такой доход уже есть! </p>
            </div>
            <div class="main-page-item-options">
                <button type="submit" class="main-page-item-options-edit btn btn-success me-2" id="incomeCreateAgree">Создать</button>
                <button class="main-page-item-option-delete btn btn-danger" id="incomeCreateCancel">Отмена</button>
            </div>
        </form>
    </div>
</div>
