<div class="main-page">
    <div class="container">
        <h1 class="main-page-title">Редактирование категории доходов</h1>
        <form class="main-page-items">
            <input class="main-page-items-input" type="text" placeholder="Название..." id="incomeEditInput">
            <div class="main-page-item-options">
                <button type="submit" class="main-page-item-options-edit btn btn-success me-2" id="incomeEditAgreeButton">Сохранить</button>
                <button class="main-page-item-option-delete btn btn-danger" id="incomeEditCancelButton">Отмена</button>
            </div>
        </form>
    </div>
</div>
