<div class="main-page">
    <div class="container">
        <h1 class="main-page-title">Главная</h1>
        <div class="main-page-nav d-flex flex-row align-items-center mb-5">
            <div class="main-page-nav-btn d-flex flex-wrap">
                <button type="button" class="btn btn-outline-secondary" id="showToday">Сегодня</button>
                <button type="button" class="btn btn-outline-secondary" id="showWeek">Неделя</button>
                <button type="button" class="btn btn-outline-secondary" id="showMonth">Месяц</button>
                <button type="button" class="btn btn-outline-secondary" id="showYear">Год</button>
                <button type="button" class="btn btn-outline-secondary" id="showAll">Все</button>
                <button type="button" class="btn btn-outline-secondary" id="showInterval" disabled>Интервал</button>
            </div>
            <div class="main-page-nav-interval d-flex flex-nowrap">
                <div class="d-flex flex-nowrap main-page-nav-interval-block">
                    c
                    <div class="flex-column d-flex">
                        <label id="startDateLabel" for="startDate"
                               class="main-page-nav-interval-date my-main-page-nav-interval-date">
                            Дата
                        </label>
                        <input type="text" id="startDate" class="main-page-nav-interval-input">
                    </div>
                </div>
                <div class="d-flex flex-nowrap main-page-nav-interval-block ">
                    по
                    <div class="flex-column d-flex">

                        <label id="endDateLabel" for="endDate" class="main-page-nav-interval-date"
                        >Дата</label>
                        <input type="text" id="endDate" class="main-page-nav-interval-input">
                    </div>
                </div>
            </div>
        </div>
        <div class="main-page-charts">
            <div class="main-page-chart">
                <div class="main-page-chart-title">Доходы</div>
                <div class="main-page-chart-no-data" id="mainPageChartNoData1">Нет данных</div>
                <canvas id="myChart1"></canvas>
            </div>
            <div class="main-page-chart-line"></div>
            <div class="main-page-chart">
                <div class="main-page-chart-title">Расходы</div>
                <div class="main-page-chart-no-data" id="mainPageChartNoData2">Нет данных</div>
                <canvas id="myChart2"></canvas>
            </div>
        </div>
    </div>
</div>
