<div class="main-page">
    <div class="container">
        <h1 class="main-page-title">Доходы и расходы</h1>

        <div class="main-page-item-options-create mb-5">
            <button class="main-page-item-options-edit btn btn-success me-2 mb-1">Создать доход</button>
            <button class="main-page-item-options-delete btn btn-danger mb-1">Создать расход</button>
        </div>
        <div class="main-page-nav d-flex flex-row align-items-center">
            <div class="main-page-nav-btn d-flex flex-wrap">
                <button type="button" class="btn btn-outline-secondary">Сегодня</button>
                <button type="button" class="btn btn-outline-secondary">Неделя</button>
                <button type="button" class="btn btn-outline-secondary">Месяц</button>
                <button type="button" class="btn btn-outline-secondary">Год</button>
                <button type="button" class="btn btn-outline-secondary">Все</button>
                <button type="button" class="btn btn-outline-secondary">Интервал</button>
            </div>
            <div class="main-page-nav-interval d-flex flex-nowrap">
                <div class="d-flex flex-nowrap">c <a href="#"
                                                     class="main-page-nav-interval-link my-main-page-interval-link">Дата</a>
                </div>
                <div class="d-flex flex-nowrap">по <a href="#" class="main-page-nav-interval-link">Дата</a></div>
            </div>
        </div>

        <!-- Таблица -->
        <div class="row">
            <div class="table-responsive-xxl">
                <table class="table">
                    <thead class="table-head">
                    <tr>
                        <th scope="col" class="table-head-color">№ операции</th>
                        <th scope="col" class="table-head-color">Тип</th>
                        <th scope="col" class="table-head-color">Категория</th>
                        <th scope="col" class="table-head-color">Сумма</th>
                        <th scope="col" class="table-head-color">Дата</th>
                        <th scope="col" class="table-head-color">Комментарий</th>
                        <th scope="col" class="table-head-color"></th>
                    </tr>
                    </thead>

                    <tbody id="tableBody">
                    <!-- Данные с сервера -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
