<div class="main-page">
    <div class="container">
        <h1 class="main-page-title">Редактирование дохода/расхода</h1>
        <form class="main-page-items flex-column d-flex">
            <label>
                <input class="main-page-items-input" type="text" value="Доход" placeholder="Тип...">
            </label>
            <label>
                <input class="main-page-items-input" type="text" value="Зарплата" placeholder="Категория...">
            </label>
            <label>
                <input class="main-page-items-input" type="text" value="500$" placeholder="Сумма в $...">
            </label>
            <label>
                <input class="main-page-items-input" type="text" value="11.09.2022" placeholder="Дата...">
            </label>
            <label>
                <input class="main-page-items-input" type="text" placeholder="Комментарий...">
            </label>
            <div class="main-page-item-options">
                <button type="submit" class="main-page-item-options-edit btn btn-success me-2">Сохранить</button>
                <button class="main-page-item-options-delete btn btn-danger">Отмена</button>
            </div>
        </form>
    </div>
</div>
