<div class="main-page">
    <div class="container">
        <h1 class="main-page-title">Расходы</h1>
        <div class="main-page-items row">
            <div class="main-page-item col-3">
                <div class="main-page-item-title">Еда</div>
                <div class="main-page-item-options">
                    <button class="main-page-item-options-edit btn btn-primary me-2">Редактировать</button>
                    <button class="main-page-item-option-delete btn btn-danger">Удалить</button>
                </div>
            </div>
            <div class="main-page-item col-3">
                <div class="main-page-item-title">Жильё</div>
                <div class="main-page-item-options">
                    <button class="main-page-item-options-edit btn btn-primary me-2">Редактировать</button>
                    <button class="main-page-item-option-delete btn btn-danger">Удалить</button>
                </div>
            </div>
            <div class="main-page-item col-3">
                <div class="main-page-item-title">Здоровье</div>
                <div class="main-page-item-options">
                    <button class="main-page-item-options-edit btn btn-primary me-2">Редактировать</button>
                    <button class="main-page-item-option-delete btn btn-danger">Удалить</button>
                </div>
            </div>
            <div class="main-page-item col-3">
                <div class="main-page-item-title">Кафе</div>
                <div class="main-page-item-options">
                    <button class="main-page-item-options-edit btn btn-primary me-2">Редактировать</button>
                    <button class="main-page-item-option-delete btn btn-danger">Удалить</button>
                </div>
            </div>
            <div class="main-page-item col-3">
                <div class="main-page-item-title">Авто</div>
                <div class="main-page-item-options">
                    <button class="main-page-item-options-edit btn btn-primary me-2">Редактировать</button>
                    <button class="main-page-item-option-delete btn btn-danger">Удалить</button>
                </div>
            </div>
            <div class="main-page-item col-3">
                <div class="main-page-item-title">Одежда</div>
                <div class="main-page-item-options">
                    <button class="main-page-item-options-edit btn btn-primary me-2">Редактировать</button>
                    <button class="main-page-item-option-delete btn btn-danger">Удалить</button>
                </div>
            </div>
            <div class="main-page-item col-3">
                <div class="main-page-item-title">Развлечения</div>
                <div class="main-page-item-options">
                    <button class="main-page-item-options-edit btn btn-primary me-2">Редактировать</button>
                    <button class="main-page-item-option-delete btn btn-danger">Удалить</button>
                </div>
            </div>
            <div class="main-page-item col-3">
                <div class="main-page-item-title">Счета</div>
                <div class="main-page-item-options">
                    <button class="main-page-item-options-edit btn btn-primary me-2">Редактировать</button>
                    <button class="main-page-item-option-delete btn btn-danger">Удалить</button>
                </div>
            </div>
            <div class="main-page-item col-3">
                <div class="main-page-item-title">Спорт</div>
                <div class="main-page-item-options">
                    <button class="main-page-item-options-edit btn btn-primary me-2">Редактировать</button>
                    <button class="main-page-item-option-delete btn btn-danger">Удалить</button>
                </div>
            </div>
            <a href="#/" class="main-page-item main-page-item-link  col-3">
                <div class="main-page-item-title invisible">Пустота</div>
                <div class="main-page-item-options invisible">
                    <div class="main-page-item-options-edit btn btn-primary me-2">Редактировать</div>
                    <div class="main-page-item-option-delete btn btn-danger">Удалить</div>
                </div>
                <div class="main-page-item-add">
                    <img src="./images/add-plus.png" alt="plus">
                </div>
            </a>
        </div>
    </div>
</div>
